<h1>My Lists</h1>
<hr />

<ul>
  <% @lists.each do |list| %>
  <li>
    <%= list.name %> (
    <%= link_to 'Show', list_path(list) %> --
    <%= link_to 'Edit', edit_list_path(list) %> --
    <%= link_to 'Delete', list_path(list), method: :delete, data: {confirm: "Do you want to delete this list item?"} %> )
    <h5>--- <%= list.description %> </h5>
  </li>
  <% end %>
</ul>

<%= link_to 'New List', new_list_path %>
