<div class='form'>
<%= form_for @item do |f| %>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <br />
  <div class='area'>
  <%= f.label :description %>
  <%= f.text_area :description %>
  </div>
    <br />
  <div class='check'>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
    <br />
  <div class='submit'>
    <%= f.submit %>
  </div>
<% end %>
</div>
